<!DOCTYPE html>
<html lang="en"> 
  <head>
      <title>PhotoAlbum</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> -->
      <script type="text/javascript" src="../js/main.js"></script>
    <body>
      <div class="search">
          <div class="search-input">
            <!-- <i class="material-icons search"></i> -->
            <i class="zmdi zmdi-search zmdi-hc-2x"></i>
            <input type="text" />
            <i class="zmdi zmdi-mic zmdi-hc-2x"></i>
            <!-- <i class="material-icons mic"></i> -->
          </div>
            <div class="results">
            <p>Top answer based on similar people searching.</p>
            <div class="description">
              <div class="photo"></div>
              <div class="summary">
                <h3>Meadowbank Gymnastics Club</h3>
              <p>Meadowbank Gymnastics Club was established in 1971 by Maggie     Bisset. Our club offer classes from beginner to elite and disabilities. Meadowbank Gymnastics Club is GymMark accredited.</p>
                <a href="www.meadowbankgc.co.uk">www.meadowbankgc.co.uk</a>
              </div>
            </div>
          </div>
          <div class="button-row">
            <button id="search">Search</button>
            <div id="clear">Clear All</div>
          </div>
      </div>

    </body>
  </head>
</html>